body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ebf1d8;
    background-attachment: fixed;
    background-size: cover;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #b2dff4;
    background-size: cover;
    border-radius: 30px;
    border-color: #573cce;
    border-bottom: 6px solid #544981;
}

.border-blue {
    border: 1px dotted rgb(255, 159, 91);
}